body {
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.logo {
    width: 90px;
    height: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 30px;
}

.underline {
    text-decoration: underline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 20px;
    transition-duration: .5s;
}

nav ul li a:hover {
    background-color: #e9e9e9;
    color: black;
}

.user a:hover {
    background-color: #e9e9e9;
    color: black;
}

.user a {
    transition-duration: .5s;
    margin-right: 35px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.banner {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.banner img.active {
    opacity: 1;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white;
}