body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.logo {
    max-width: 70px;
    height: auto;
    margin-left: 40px;
    display: flex;
    top: -80px;
    position: relative;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.restaurant-img {
    display: block;
    margin: 0 auto;
    width: 300px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.restaurant-img:hover {
    transform: scale(1.1);
}

.restaurant-info {
    text-align: center;
    margin-top: 20px;
}

.restaurant-info h2 {
    margin-top: 10px;
}

.description {
    text-align: justify;
    margin-top: 20px;
}